

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    background-color: #000;
    margin: 0;
  }
  
  .list{
      right:20px;
  }
  
  nav {
    height: 100px;
    width: 100%;
    margin: 0;
    background: #000;
    padding: 0;
    
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    height: 10px;
    padding: 15px 20px 25px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
    right:50px;
    top: 10px;
  }
  
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
    
  }
  nav ul li a:hover {
    color: #9e9e9e;
    transition: color 0.5s;
  }
  .logo{
      position: absolute;
      top:10px;
      left:50px;
      width:140px;
      float:left;
      opacity:1;
  }
  nav.stroke ul li a {
    position: relative;
    
  }
  nav.stroke ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #FFF;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
    color:#FFF;
  }
  
  
  .active {
    background-color: #FFF;
    color:#000;
  }
  .active:hover {
    background-color: #000;
    transition: 0.4s;
    color:#fff;
  }
  .wrap {
    overflow: hidden;
    position: relative;
  }
  
  .bg {
    opacity: 0;
    opacity: 0.4;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 868px;
    object-fit: cover;
  
  }
  
  .content {
    position: absolute;
    color:white;
    text-align: center;
    width:800px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    height:360px;
    color:white;
    background-color:rgba(0, 0, 0, 0.7);
    border-radius:20px;
    transition:all 0.4s;
  }
  .card:hover {
    height:360px;
    background-color:rgba(0, 0, 0, 1);
    border-radius:60px;
    transition:all 0.4s;
  }
  .container {
      padding:20px;
  }
  
  
  .button {
    border: 2px solid white;
    border-radius:30px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    width: 100px;
    transition: all 0.4s;
  }
  
  .button:hover {
    background-color: #FFF;
    color: black;
    width: 200px;
    transition: all 0.4s;
  }
  .row{
      padding-top:40px;
      padding-right:1000px;
      width:1000px;
      position: relative;
      right: 10%;
      text-align: center;
      transition: all 0.4s;
      
  }
  .row1{
      position: relative;
      left: 10%;
      text-align: center;
      transition: all 0.4s;
      
  }
  .column{
      text-align: center;
      padding-top:60px;
      width:300px;
      
  }
  .team{
    width: 150px;
    height: 150px;
    border-radius:50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  .ahsan{
    height: 150px;
    width: 150px;
    border-radius:50%;
    object-position: 0px 0px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .manisha{
    height: 150px;
    width: 150px;
    border-radius:50%;
    object-position:  right 30% ;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }