*{
    margin: 0;
    padding: auto;
    font-family: cursive;
    box-sizing: border-box;
    box-shadow: inset;
    outline: none;
    color: #fff;
}
section{
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url(ninja.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(30%);
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}
.container{
    width: 360px;
    background: #000;
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
    opacity: 0.6;

}
.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;

}
form h1{
    padding: 10px 0;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;

}

form textarea{
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    padding-top: 7px;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
}

form button{
    margin-top: 5px;
    border: none;
    background: #00fff0;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}
form input:focus,
form textarea:focus{
    border: 1px solid #00fff0;
    color: #00fff0;
    transition: all 0.3s ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;
}
form input:focus + i{
    color: #00fff0;
    transition: all 0.3s ease;

}