body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  background-color: #000;
  margin: 0;
  color: white;
  overflow: hidden;
}

.list {
  right: 20px;
}

nav {
  height: 100px;
  width: 100%;
  margin: 0;
  background: #000;
  padding: 0;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  height: 10px;
  padding: 15px 20px 25px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  right: 50px;
  top: 10px;
}

nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #9e9e9e;
  transition: color 0.5s;
}
.logo {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 140px;
  float: left;
  opacity: 1;
  transition-duration: opacity 1s;
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
  color: #fff;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 1;
}

.active {
  background-color: #fff;
  color: #000;
}
.active:hover {
  background-color: #000;
  transition: 0.4s;
  color: #fff;
}
.wrap {
  overflow: hidden;
  position: relative;
}

.bg {
  opacity: 0.4;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 868px;
  object-fit: cover;
}

.content {
  position: absolute;
  color: white;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
button {
  background-color: white;
  border: 5px solid white;
  outline: none;
  border-radius: 30px;
  width: 130px;
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
button:active {
  background-color: black;
  border: 5px solid black;
  color: white;
  box-shadow: 0 2px #666;
}
/* Bordered form */

/* Full-width inputs */
input[type='text'],
input[type='password'] {
  width: 250px;
  color: white;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 5px solid #fff;
  border-radius: 50px;
  text-align: center;
  outline: none;
  transition: background-color 0.4s, width 0.4s;
}
input[type='text']:focus,
input[type='password']:focus {
  width: 300px;
  color: black;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 5px solid #fff;
  border-radius: 50px;
  transition: all 0.4s;
}
input[type='text']:focus::placeholder,
input[type='password']:focus::placeholder {
  color: black;
  opacity: 1;
  transition: all 0.4s;
}
input[type='text']:hover::placeholder,
input[type='password']:hover::placeholder {
  color: white;
  opacity: 1;
  transition: all 0.4s;
}
::placeholder {
  color: white;
  opacity: 0.8;
}
input[type='checkbox'] {
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
}

.container {
  padding-top: 10px;
  padding: 16px;
}

/* The "Forgot password" text */
.psw {
  font-family: 'Open Sans', sans-serif;
  float: right;
  color: white;
  font-size: 20px;
  padding-left: 50px;
  text-decoration: none;
}

.psw:hover {
  text-decoration: underline;
  color: white;
}

label {
  font-size: 20px;
}
