

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    background-color: #000;
    margin: 0;
  }
  
  .list{
      right:20px;
  }
  
  nav {
    height: 100px;
    width: 100%;
    margin: 0;
    background: #000;
    padding: 0;
    
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    
    
  }
  nav ul li a {
    display: block;
    height: 10px;
    padding: 15px 20px 25px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
    right:50px;
    top: 10px;
  }
  
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
    
  }
  nav ul li a:hover {
    color: #9e9e9e;
    transition: color 0.5s;
  }
  .logo{
      position: absolute;
      top:10px;
      left:50px;
      width:140px;
      float:left;
      opacity:1;
      transition-duration: opacity 1s;
  }
  nav.stroke ul li a{
    position: relative;
    
  }
  nav.stroke ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #FFF;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
    color:#FFF;
  }
  
  
  .active {
    background-color: #FFF;
    color:#000;
  }
  .active:hover {
    background-color: #000;
    transition: 0.4s;
    color:#fff;
  }
  .wrap {
    overflow: hidden;
    position: relative;
  }
  
  .bg {
    opacity: 0.4;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 868px;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    color:white;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
  .button {
    background-color: transparent;
    border: 5px solid white;
    outline: none;
    border-radius: 30px;
    width:160px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button:hover {
    background-color: white;
    color: black;
  }
  .button:active {
    background-color: black;
    border: 5px solid black;
    color: white;
    box-shadow: 0 2px #666;
  }